<?xml version="1.0"?>
<config>
    <modules>
        <Capimichi_importexport>
            <version>0.1.0</version>
        </Capimichi_importexport>
    </modules>
    <global>
        <helpers>
            <importexport>
                <class>Capimichi_ImportExport_Helper</class>
            </importexport>
        </helpers>
    </global>
    <admin>
        <routers>
            <capimichi_importexport>
                <use>admin</use>
                <args>
                    <module>Capimichi_ImportExport</module>
                    <frontname>importexport</frontname>
                </args>
            </capimichi_importexport>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <menu1 translate="title" module="ImportExport">
                <title>CM Import Export</title>
                <sort_order>60</sort_order>
                <children>
                    <menuitem1 module="ImportExport">
                        <title>Menu item 1</title>
                        <action>importexport/example</action>
                    </menuitem1>
                </children>
            </menu1>
        </menu>
    </adminhtml>
</config>
